.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  background-color: #161f2c;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-top: 0.75rem;
}

.trendscontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-top: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: #1c2633;
  border-radius: 10px;
}

.trends {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  padding: 0.75rem;
  cursor: pointer;
}

.trends:hover {
  background-color: #222d3db4;
}
